.Movie-container
    padding: 40px 0
    a   
        text-decoration: none
        color: white
    .movie-box
        max-width: 140px

        .img-container
            position: relative
            max-width: 140px

            img 
                border-radius: 10px
                width: 140px
                height: 100%

            .rating   
                position: absolute
                text-align: center
                top: 20px
                left: -30px
                background: black
                color: white
                padding: 5px 0
                width: 65px
                // font-size: 2rem
                border-radius: 30px

                i   
                    margin: 0 5px
                    font-size: 14px
                    color: yellow

        .title
            text-align: center
            padding: 5px 0
            font-size: .9rem